<html lang = "en-US">
  <meta charset="UTF-8">

  <mat-toolbar [ngClass]="currentTheme" role="toolbar" aria-label="app-toolbar" aria-orientation="horizontal" class="toolbar">

    <button mat-button (click)="home()" aria-label="back-home" role="button" title="Clicca qui per tornare alla lista dei film" aria-labelledby="back home button"><h1>DVD Rent</h1>  </button>
    <span class="spacer"></span>

    <button mat-button  [matMenuTriggerFor]="menu" aria-label="open menu" role="button" title="Clicca qui per aprire il menù a tendina" aria-haspopup="true" aria-controls="menu-items">
      <mat-icon>account_circle</mat-icon></button>

      <mat-menu #menu="matMenu" role="menu" aria-label="app menu" aria-orientation="vertical">

        <button mat-menu-item (click)="rentalList()" role="menuitem" aria-labelledby="logout menu button" title="Clicca qui per aprire i tuoi noleggi">
          <mat-icon>
            <span class="material-symbols-outlined">list_alt</span>
          </mat-icon >
          <span>Noleggi </span>
      </button>

      <button mat-menu-item  (click)="logout()" role="menuitem" aria-labelledby="your rentals menu button" title="Clicca qui per fare il logout">
        <mat-icon>
          <span class="material-symbols-outlined">logout</span>
        </mat-icon >
        <span>Log out </span>
      </button>

    </mat-menu>

    <button mat-button [matMenuTriggerFor]="theme"
    aria-label="Open Menu"
    aria-label="Open Theme Menu"
    aria-haspopup="true"
    tabindex="0" >
    Tema
    </button>


    <mat-menu #theme="matMenu">
      <button mat-menu-item (click)="changeTheme('theme1-toolbar')" tabindex="0" >Light</button>
      <button mat-menu-item (click)="changeTheme('theme2-toolbar')" tabindex="0" >Dark</button>
    </mat-menu>

  </mat-toolbar>

  <router-outlet></router-outlet>

</html>





