.dialog-window {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: Calibri;
  font-size: 20px;
  border-radius: 2%;
}


.title {
  display: block;
  background-color: #293133;
  padding: 40px;
  padding-top: 50px;
}

.title h2{
  margin-bottom: -10px;
  font-family:serif;
  font-size: 50px;
}

.dialog-content{
  padding: 40px;
  padding-left:70px ;
}


mat-card-actions{
  justify-content: flex-end;
  padding-bottom: 0;
}
