<div class="dialog-window" role="dialog" title="Dialog window for film details" aria-labelledby="dialog-title" [ngClass]="currentTheme">
  <div class="title"  [style.background-color]="coloreCard" [style.color]="coloreTextCard">
    <mat-card-actions >

      <button mat-button aria-label="Close dialog" role="button" title="Button for close dialog" (click)="closeDialog()" >
        <mat-icon>
          <span>close</span>
        </mat-icon>
        Close
      </button>
    </mat-card-actions>

    <h2 mat-dialog-title id="dialog-title">{{ film.film.title }}</h2>
  </div>
  <div class="dialog-content" >
      <p><strong>Anno:</strong> {{ film.film.film_id }}</p>
      <p><strong>Lingua:</strong> {{ film.film.title }}</p>
      <p><strong>Genere:</strong> {{ film.category.name }}</p>
      <p><strong>Attori:</strong> {{ film.actor.first_name}} {{ film.actor.last_name}}</p>
      <p><strong>Durata massima noleggio:</strong> {{ film.film.rental_duration }}</p>
      <p><strong>Durata film:</strong> {{ film.film.length }}</p>

      <mat-form-field>
        <mat-label>Store</mat-label>
        <mat-select aria-label="Select store">
          <mat-option #matOption *ngFor="let store of stores" value="store" [disabled]="!store.num_film" (click)="click(matOption.selected)">{{store.address.address}}</mat-option>
        </mat-select>
      </mat-form-field>


      <div class="content-rent">
        <button mat-button aria-label="Rent film" role="button" title="Button for rent film"  [style.color]="coloreTextCard" class="button-rent" [disabled]="!storeSelected" (click)="rent_page(film, stores)">
          {{ film.film.rental_rate}}
          <mat-icon>
            <span >euro</span>
          </mat-icon>
          NOLEGGIA
        </button>
      </div>
  </div>

</div>


