.dialog-window {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Calibri;
  font-size: 20px;
  height: 100%;
}


.list{
  margin-left: 10px;
}


.close{
  float: right;

}


.title-dialog{
  margin: 20px;
  font-family: serif;
  font-size: 30px;
}



.rent-button{
  display: flex;
  justify-content: center;
  align-items: center;

}

.button-rent{
  font-size: large;
  margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
  .title-dialog{
    font-size: 20px;
  }

  .button-rent {
    font-size: medium;
  }
}
