<div fxLayout="column" fxLayoutAlign="center center" class="login-form-flex">
  <mat-card>
    <mat-card-title fxLayout="column" fxLayoutAlign="center stretch">
      Login
    </mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
      <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
        <input id="username" matInput placeholder="User Name" />
      </mat-form-field>
      <br />
      <mat-form-field fxLayout="column" fxLayoutAlign="center stretch">
        <input id="password" type="password" matInput placeholder="Password" />
      </mat-form-field>
      <p *ngIf="error" class="error-message">{{ error }}</p> <!-- Mostra l'errore se presente -->
    </mat-card-content>
    <mat-card-actions>
      <div class="button-flex-container">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
