<div class="menu_user" >
<button mat-button [matMenuTriggerFor]="menu">  <mat-icon>account_circle</mat-icon></button>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon> <span class="material-symbols-outlined">
      face
      </span> </mat-icon >
    <span>Profilo </span>
  </button>
  <button mat-menu-item>
    <mat-icon> <span class="material-symbols-outlined">
      list_alt
      </span> </mat-icon >
    <span>Noleggi </span>
  </button>
  <button mat-menu-item>
    <mat-icon> <span class="material-symbols-outlined">
      logout
      </span> </mat-icon >
    <span>Log out </span>
  </button>
</mat-menu>

</div>

