<section class="start" style="background: #404040 url(assets/cinema2.jpg); background-repeat: no-repeat; background-size:cover; background-position: center;">
  
  <input type="text" [formControl]="searchControl" placeholder="Cerca film per titolo" style="margin-bottom: 10px;">
  <div class="result-count">
    Risultati: {{ films.length }}
  </div>
  <cdk-virtual-scroll-viewport itemSize="1" class="viewport">
    <!--<app-film *cdkVirtualFor="let film of films" [film]="film" class="item"></app-film> -->
    <mat-card class="item" *cdkVirtualFor="let film of films | slice: startIndex: endIndex">
      <mat-card-header>
        <mat-card-title>
          <button (click)="openDialog(film)">
            <a  routerLink="/dashboard/{{film.title}}"> {{film.title }}</a>

          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ film.description }}</p>
        <p> <a>Anno:</a> {{ film.release_year }}</p>
        <p>{{ film.rating }}</p>

        <!-- Altri dettagli del film -->
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button >{{ film.rental_rate}} <mat-icon><span class="material-symbols-outlined">
          euro</span> </mat-icon> NOLEGGIA</button>
      </mat-card-actions>
    </mat-card>
  </cdk-virtual-scroll-viewport>

  <ng-template *ngIf="isFilm">
    <p> prof</p>


  </ng-template>

  <!-- Paginazione --> 
<mat-paginator 
  [length]="films.length" 
  [pageSize]="pageSize" 
  [pageIndex]="pageIndex" 
  [pageSizeOptions]="pageSizeOptions" 
  (page)="onPageChange($event)" 
  ></mat-paginator> 


</section>
