.viewport {

  height: 100%;
  width: 100%;
  border: 1px solid black;

}

body{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

#scroll-up
{
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
}

.show {
  visibility: visible;
}


.search{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.serach-content{
  display: block;
  width: 350px;
  height: 60px;

  margin: 10px;
  padding-bottom: 0px;
  border-radius: 60px;
}


.search-field .mat-mdc-text-field-wrapper {
  border-radius: 25px;
  height: auto;
}

.serach-content button{
  margin-left: 10px;
}



.item {
  border: 1px solid black;
  margin-top:5%;
  margin-right: 10%;
  margin-left: 10%;
  height: auto;
  width: auto;
}

.start{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

mat-card {
  padding: 1%;
  border: 1px solid;
  box-shadow: 0px 0px 21px 0px #000000;

}

.details:hover{
  cursor: pointer;

}

mat-card-content a{

  font-weight: bold;
}

.title{
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;


}
.title:hover{
  font-size: 25px;

}

.paginator-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator {

  margin-top: 20px;
  margin-bottom: 20px;
  border-radius:50px;
}

mat-drawer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
}

.radio-label {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
}
.filter{
  width: 100%;
}



/* Stili per schermi fino a 480px */
@media screen and (max-width: 480px) {
  .serach-content {
    height: auto;
    width: 73%;
  }
  .search-field .mat-mdc-text-field-wrapper {
    height: auto;
    width: 100px;
    margin-top: 10px;
  }
  .item {
    margin: 2%;
  }
  .title {
    font-size: 16px;
  }
}

/* Altri stili per il layout responsive */
/* Aggiungi qui le tue regole CSS specifiche per il layout responsive */

