<section class="component-style" tabindex="-1" >
<mat-dialog-content class="dialog-generic-style" tabindex="-1" role="dialog" aria-label="Dialog" >
  <h2 mat-dialog-title  tabindex="0" >{{data.text}}</h2>

  <mat-dialog-actions align="end">
    <button mat-button class="close" aria-label="Close dialog" role="button" title="Button for close dialog" (click)="close()" >
      <mat-icon aria-hidden="true">close</mat-icon>
      Close
    </button>
  </mat-dialog-actions>

</mat-dialog-content >
</section>
