.search{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.serach-content{
  display: block;
  width: 300px;
  margin-top: 15px;
  padding: 15px;
  border-radius: 60px;
  border: 1px solid black;
}

mat-icon{
  font-size: 15px;
}

.button-row{
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.button-container {
  display: inline-block;
  margin-right: 10px;
}



table.table {
  width: 30px; /* Imposta la larghezza della tabella al 100% del contenitore */
}


/* Media query per la larghezza della schermata inferiore a 600px */
@media (max-width: 600px) {
  table.table {
    font-size: 12px; /* Riduci la dimensione del font del testo nella tabella */
  }
}

