.search{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.serach-content{
  display: block;
  margin-top: 15px;
  padding: 15px;
  border-radius: 60px;
  background-color: darkseagreen;
}

mat-icon{
  font-size: 15px;
}
