html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.component-style mat-card{
  background-color: gray;
  color:black;
}
.component-style mat-toolbar{
  background-color: gray;
  color:black;
}
