
<div class="component-style"  fxLayout="column" fxLayoutAlign="center center">
  <mat-card >
    <mat-card-title class="card-title">
      <strong>{{film.film.title}}</strong>
      <br>
    </mat-card-title>
    <mat-card-content >
      <form [formGroup]="form" (ngSubmit)="rent()"> 

        <mat-form-field  > 
          <mat-label aria-label="Select a date for rent">Select a date for rent</mat-label> 
          <mat-select #dayOption formControlName="data"  > 
            <mat-option  value="today"  (click)="click_data(true)">Today</mat-option> 
            <mat-option  value="in-two-days"  (click)="click_data(true)">In two days</mat-option> 
          </mat-select> 
        </mat-form-field> 
 
        <mat-form-field > 
          <mat-label aria-label="Select a store">Select a store</mat-label> 
          <mat-select formControlName="store" > 
            <mat-option #matOption *ngFor="let store of stores" [value]="store" [disabled]="!store.num_film" (click)="click_store(matOption.selected)" >{{store.address.address}}</mat-option> 
          </mat-select> 
        </mat-form-field> 
        <br> 
 
        <button mat-raised-button  type="submit" aria-describedby="error-message" (click)="rent()">Rent</button>
          <ul *ngIf="errors.length > 0" class="error-message" id="error-message">
              <li *ngFor="let error of errors">{{ error }}</li>
          </ul>
 
 
    </form> 
    </mat-card-content> 
 
  </mat-card> 
</div>



